.form-group {
    margin-bottom: 30px;
    &__title {
        text-align: center;
        color: $main-color;
    }
    &__btn {
        margin: 5px 5px 30px 5px;
    }
}

.passwordWrapper {
    position: relative;
    button {
        position: absolute;
        top: 1px;
        right: 30px;
        height: 37px;
        border: none;
        background: transparent;
        &:focus {
            outline: none;
           }
    }
}
.hidden {
    display: none;
}

